button{
    padding: 9px;

}

.imagens{
    display: flex;
    align-content: space-between;
    flex-direction: 
}

#sonic{
    transition-duration: 3s;
    width: 100px;
    height: 100px;
}

.rings{
    right: 0;
    width: 80px;
    height: 80px;
    margin: 0;
    
}

.rings:nth-child(1){
    transition-duration: 0.5s;
}

.rings:nth-child(2){
    transition-duration: 1s;
}

.rings:nth-child(3){
    transition-duration: 1.5s;
}

.rings:nth-child(4){
    transition-duration: 2s;
}

.rings:nth-child(5){
    transition-duration: 2.5s;
}

/* input, textarea{
    display: block;
    margin: 10px 0;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 10px;   
}

button{
    padding: 10px;
    border: 0;
    background-color: gray;
    color: white;
    border-radius: 10px;
    font-size: 16px; 
} */