.imagens{
    display: flex;
    align-content: space-between;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
} 

body{
    margin: 0px;
    display: flex;
}

article{
    background-color: #003affa1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -3;
}

#sonic{
    transition-duration: 5s;
    width: 150px;
    height: 150px;
}

.rings{
    right: 0;
    width: 80px;
    height: 80px;
    margin: 0; 
}

.rings:nth-child(1){
    transition-duration: 0.2s;
}

.rings:nth-child(2){
    transition-duration: 0.7s;
}

.rings:nth-child(3){
    transition-duration: 1.2s;
}

.rings:nth-child(4){
    transition-duration: 1.5s;
}

.rings:nth-child(5){
    transition-duration: 1.8s;
}

.rings:nth-child(6){
    transition-duration: 2.2s;
}

